/* Reset */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/* -- Utility -- */

.centered {
	text-align: center;
}
/* Layout Styles */

.page-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.header-container {
	height: 200px;
}

.library-container {
	height: 800px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 1rem;
	padding: 4rem;
}

.button-container {
	display: flex;
	justify-content: space-evenly;
	align-content: center;
}

.book-card {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 250px;
	width: 200px;
	border: 1px solid black;
	box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.1);
}

/* Content Styles */

/* Media Queries */
