/* Reset */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
	font-family: "Noto Sans";
}

body {
	line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/* -- Utility -- */

.centered {
	text-align: center;
}
/* Layout Styles */

.page-container {
	display: grid;
	grid-template-rows: 1fr 4fr;
	height: 100vh;
}

.header-container {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-banner {
	height: fit-content;
	grid-row: 1 / 2;
}

.library-container {
	height: 800px;
	grid-row: 2 / 3;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 1rem;
	padding: 4rem;
	overflow: auto;
}

.button-container {
	display: flex;
	width: 100vw;
	align-content: center;
	justify-content: center;
	position: relative;
	border-bottom: 1px none black;
	box-shadow: 0rem 0.2rem 1px rgba(0, 0, 0, 0.1);
}

.book-card {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 250px;
	width: 200px;
	border: 1px solid black;
	box-shadow: 0.5rem 0.5rem 0px rgba(0, 0, 0, 0.1);
}

/* -- Content Styles -- */

button {
	height: 4rem;
	width: 8rem;
	font-size: 1.5rem;
	margin: 0rem 2rem 2rem;
	border-radius: 1rem;
}

h1 {
	font-size: 2rem;
}

/* Media Queries */

@media screen and (max-width: 600px) {
	.library-container {
		display: flex;
		flex-direction: column; /* Optional: stack items vertically */
		justify-content: center;
		align-items: center;
	}
}
